/Ejemplo1_001/nbproject/private/
/Ejemplo1_001/build/
/Ejemplo1_001/dist/
/ActividadGiftCard_001/nbproject/private/
/ActividadGiftCard_001/build/
/Exp 3 y 4/Coleccion_001D/nbproject/private/
/Exp 3 y 4/Coleccion_001D/build/
/Exp 3 y 4/Coleccion_002/nbproject/private/
/Exp 3 y 4/Coleccion_002/build/
/Exp 3 y 4/Coleccion_002D/build/
/Exp 3 y 4/Coleccion_002D/nbproject/private/
